*{
    color: #fff;
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

body{
    background: #3d3d3d;
}
h1,h2,h3,h4,p,li{
    text-decoration: none;
}
header{
    background: #000;
}
.navbar {
    max-width: 1280px;
    height: 70px;
    margin-inline:auto ;

    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;

}

.menu{
    display: flex;
    list-style: none;
    gap: 20px;
    
}

.menu a{
    text-decoration: none;
    padding-block: 10px;
}



.hamburguer{
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
    display: none;
}

.hamburguer::before,.hamburguer::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media (max-width:750px){
    .hamburguer{
        display: block;
        z-index: 1;
    }


    .menu{
        position: fixed;
        top:0;
        left: 0;
        width: 100vw;
        height: 50vh;
        background: #000;
        clip-path: circle(100px at 90% -15%);
        transition: 0.3s ease-in-out;
        padding: 0;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .menu a{
        font-size: 20px;
        opacity: 0;
    }
    .menu a:nth-child(1) a{
       transition: 0.5s 0.4s; 
    }
    .menu a:nth-child(2) a{
        transition: 0.5s 0.4s; 
    }
    .menu a:nth-child(3) a{
        transition: 0.5s 0.4s; 
    }
}


/* ESTILOS ATIVOS */
.navbar.active .menu{
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
    transition: 1s ease-in;
}

.navbar.active .menu a{
    opacity: 1;
}

.navbar.active .hamburguer{
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
    transition: 0 0.2s ease-in;
}

.navbar.active .hamburguer::before{
    transform: rotate(135deg);
}

.navbar.active .hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
}